@using login_n_registration.Models
@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Registration</title>
</head>
<body>
    <div>
        <h1>Register to this Cool Site!</h1>
        <a href="/loginPage">Login</a>
    </div>
    <form asp-action="Register" asp-controller="Home" method="POST">
    <div>
        <div>
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
            <span asp-validation-for="Email"></span>
            <label asp-for="Email"></label>
            <input asp-for="Email">
        </div>
        <div>
            <span asp-validation-for="Password"></span>
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span asp-validation-for="ConfirmPassword"></span>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword">
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="Sign up Now">
        </div>
    </div>
    </form>

    <div>
        @foreach (User u in ViewBag.AllUsers)
        {
        <p>@u.FirstName  @u.LastName  @u.UserId  @u.Email</p>
        }
    </div>
</body>
</html>
