<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div>
        <h1>About Me</h1>
    </div>
    <div id="intro">
        <div>
            <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/75339375_10219877844966026_8800041875269484544_n.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=LJVNSjFXgU8AX9TAcsR&_nc_ht=scontent-sea1-1.xx&oh=16f5edc8b17edb0df7725bbce9602535&oe=5F543032" alt="" id="intro_pic">
            <p>Beverly Kwok</p>
            <p>I love Chocolate</p>
        </div>
        <div>
            <p>Dont know what to say here</p>
        </div>
    </div>
</body>
</html>