<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div>
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
    </div>
    <div>
        <h1>Here are some projects of mine!</h1>
    </div>
    <div id="project_box">
        <div class="project">
            <div>
                <img src="https://d2ph5fj80uercy.cloudfront.net/06/cat1996.jpg" alt="">
            </div>
            <div class="project_info">
                <h3>Cool thing!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="project">
            <div>
                <img src="https://d2ph5fj80uercy.cloudfront.net/06/cat1996.jpg" alt="">
            </div>
            <div class="project_info">
                <h3>Cool thing!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="project">
            <div>
                <img src="https://d2ph5fj80uercy.cloudfront.net/06/cat1996.jpg" alt="">
            </div>
            <div class="project_info">
                <h3>Cool thing!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</body>
</html>