<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Passcode Generator</title>
</head>
<body>
    <div>
        <h1>Random Passcode (passcode # @ViewBag.Count)</h1>
    </div>
    <div>
        @ViewBag.Pc
    </div>
    <div>
        <form asp-action="getcode" asp-controller="Home" method="post">
            <p>@ViewBag.Pc</p>
            <input type="hidden" asp-formaction="ClickTime">
            <input type="submit" value="Generate">
        </form>
    </div>
</body>
</html>