<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="header">
        <div>
            <h2>CodingDojo Wall</h2>
        </div>
        <div class="innerheader">
            <h4>
                Welcome @Model.WallUser.FirstName
            </h4>
            <a href="/Logoff">Log Off</a>
        </div>
    </div>
    <hr>
    <div class="main">
        <div>
            <form asp-action="PostMessage" asp-controller="Home" method="POST">
                <div>

                </div>
            </form>
        </div>
    </div>
</body>
</html>