@using viewModel_fun.Models
@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <div>
        <h1>
            Here is a user
        </h1>
    </div>
    <div>
        <p>@Model.Firstname</p>
        <p>@Model.Lastname</p>
    </div>
</body>
</html>